In [2]:
import sqlite3

In [3]:
# creating the db file
# open("../database/db.sql", "w+")

In [3]:
conn = sqlite3.connect("../database/db.sql")
cur = conn.cursor()

In [5]:
CREATE_PERSON_TABLE = """ 
CREATE TABLE Person (
    id TEXT PRIMARY KEY,
    email TEXT NOT NULL,
    password_hash TEXT NOT NULL,
    birth_date DATE,
    last_name TEXT,
    first_name TEXT,
    points INTEGER,
    role TEXT
);
"""
cur.execute(CREATE_PERSON_TABLE)
conn.commit()

In [6]:
CREATE_COURSE_PARTICIPANT_MAPPING = """
CREATE TABLE CourseParticipantMapping (
    course_id TEXT,
    person_id TEXT
);
"""
cur.execute(CREATE_COURSE_PARTICIPANT_MAPPING)
conn.commit()

In [7]:
CREATE_COURSE_QUESTION_MAPPING = """
CREATE TABLE CourseQuestionMapping (
    course_id TEXT,
    question_id TEXT
);
"""
cur.execute(CREATE_COURSE_QUESTION_MAPPING)
conn.commit()

In [8]:
CREATE_COURSE_INSTRUCTOR_MAPPING = """
CREATE TABLE CourseInstructorMapping (
    course_id TEXT,
    person_id TEXT
);
"""
cur.execute(CREATE_COURSE_INSTRUCTOR_MAPPING)
conn.commit()

In [9]:
CREATE_COURSE_TABLE = """
CREATE TABLE Course (
    id TEXT PRIMARY KEY,
    course_name TEXT,
    difficulty TEXT,
    course_description TEXT,
    additional_information TEXT
);
"""
cur.execute(CREATE_COURSE_TABLE)
conn.commit()

In [10]:
CREATE_QUESTION_TABLE = """
CREATE TABLE Question (
    id TEXT PRIMARY KEY,
    question_text TEXT,
    points INTEGER
);
"""
cur.execute(CREATE_QUESTION_TABLE)
conn.commit()

In [11]:
CREATE_ANSWER_TABLE = """
CREATE TABLE Answer (
    id TEXT PRIMARY KEY,
    question_id TEXT,
    answer TEXT,
    is_correct BOOLEAN,
    explanation TEXT
);
"""
cur.execute(CREATE_ANSWER_TABLE)
conn.commit()

In [6]:
SELECT_PEOPLE_TABLE = """SELECT * FROM Person"""
f = cur.execute(SELECT_PEOPLE_TABLE)
print(f.fetchall())

[('64dfe5f4d66af5e2993ad25a8a22d8127273cbdbf6e55bb5a7ebb92ce703353f', 'jonas.mueller@gmail.com', '42b4dd78a83dadf59a658a8c8635a33050e3d91daed09bdb66c6624701100959', '10.12.2003', 'mueller', 'jonas', 0, 'user')]